{% extends 'base.html' %}
{% block content %}

<h2>Product List</h2>

{% for product in products %}
    <div>
        <a href = "/products/{{ product.id }}"> {{ product.name }} </a>
        <p> Stock Quantity {{ product.stock_quantity }}(g) </p>
        <p> Price (per 100g) £{{ product.selling_price }} </p>
        <a href = "/manufacturers/{{ product.manufacturer.id }}"> {{ product.manufacturer.name }} </a>
        <br>
        <a href = "/products/{{ product.id }}">More Details</a>
        <hr>
    </div>

 {% endfor %}    
{% endblock %}
