{% extends 'base.html' %}
{% block content %}
<h2>New Product:</h2>

<form action="/products" method="post">
    <div>
        <label for = "name">Name:</label>
        <input name = "name" type = text id = name>
    </div>
    <br>
    <div>
        <label for = "description">Description:</label>
        <input name = "description" type = text id = description>
    </div>
    <br>
    <div>
      <label for = "category">Category:</label>
      <select id = "category" name = "category">
        <option value= "" disabled selected>Select</option>
        <option value = "unpasteurised">Unpasteurised</option>
        <option value = "pasteurised">Pasteurised</option>
      </select>
    </div>
    <br>
    <div>
      <label for = "milk_type"></label>Milk Type:</label>
      <select id ="milk_type" name = "milk_type">
        <option value= "" disabled selected>Select</option>
        <option value = "cow">Cow</option>
        <option value = "sheep">Sheep</option>
        <option value = "goat">Goat</option>
      </select>
    </div>
    <br>
    <div>
        <label for = "stock_quantity">Stock Quantity:</label>
        <input name = "stock_quantity" type = text id = stock_quantity>
    </div>
    <br>
    <div>
        <label for = "buying_cost">Buying Cost:</label>
        <input name = "buying_cost" type = text id = buying_cost>
    </div>
    <br>
    <div>
        <label for = "selling_price">Selling Price:</label>
        <input name = "selling_price" type = text id = selling_price>
    </div>
    <br>
    <div>
        <label for = "origin">Origin:</label>
        <input name = "origin" type = text id = origin>
    </div>
    <br>
    <div>
        <label for="manufacturer">Manufacturer:</label>
        <select id="manufacturer" name="manufacturer_id">
          <option value= "" disabled selected>Select</option>
          {% for manufacturer in manufacturers %}
            <option value="{{ manufacturer.id }}">
              {{ manufacturer.name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <br>
    <div>
       <button type = "submit">Save New Product</button>
    </div>
</form>
{% endblock %}