{% extends 'base.html' %}
{% block content %}
    <h2>Update a Product</h2>

    <form action="/products/{{ product.id }}" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ product.name }}">
        </div>
        <div>
            <label for="manufacturer">Manufacturer:</label>
            <select name="manufacturer_id" id="manufacturer">
                {% for manufacturer in manufacturers %}
                <option value="{{ manufacturer.id }}" {% if manufacturer.id == product.manufacturer.id %} selected {% endif %}>
                    {{ manufacturer.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>


{% endblock content %}