{% extends 'base.html' %}
{% block content %}

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Stock Quantity</th>
        <th>Buying Cost</th>
        <th>Selling Price</th>
        <th>Origin</th>
        <th>Manufacturer</th>
    </tr>
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.stock_quantity }}</td>
        <td>{{ product.buying_cost }}</td>
        <td>{{ product.selling_price }}</td>
        <td>{{ product.origin }}</td>
        <td>{{ product.manufacturer.name }}</td>
    </tr>
</table>
<br>

<a href = "/products/{{ product.id }}/edit">Edit</a>

<form action="/products/{{ product.id }}/delete" method="POST">
    <input type="submit" value="Delete">
</form>
  
{% endblock %}