.btn{
    background-color:#fffbe6;
    border: 2px solid #f5cc6e;
    border-radius: 5px;
    color: #000;
    font-family: inherit;
    font-size: 16px;
    padding: 8px 12px;
    margin: 4px;
}

.btn:hover{
    background-color: #f5cc6e;
    font-size: 20px;
}

.btn-delete{
    background-color:#fffbe6;
    border: 2px solid #f5cc6e;
    border-radius: 5px;
    color: #000;
    font-family: inherit;   
    font-size: 16px;
    padding: 8px 12px;
    margin: 4px;
}

.btn-delete:hover{
    background-color: #f74519;
    border: none;
    font-size: 20px;
}