body{
    background: #fffbe6;
}

* {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5cc6e;
    border-radius: 15px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #fffbe6;
  }

  #date-time{
      float: right;
      text-align: center;
      padding: 14px 16px;
      font-weight: bold;
      font-size: large;
  }

  #logo{
      display: block;
      margin-left: auto;
      margin-right: auto; 
  }

  .product-details{
     background-color: transparent; 
  }

  /*bar chart stars here  */
  .container {
    margin: 15px 10px;
  }

   .chart {
    position: relative;
  }

  .row-bars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  rbars {
    display: block;
    height: 20px;
    margin-top: 10px;
    max-width: 100%;
    padding: 5px;
  }
  rbars{
    border-radius:10px;
    background-color: #f5cc6e;
  }

hr {
  background-color: #f5cc6e;
  height: 5px;
  border: none;
}

#bargraph-info{
  color: #f5cc6e;
  padding-left: 10px;
}