.product-table{
  margin-left: 25%;
  margin-right: auto;
  width: 80%;
}


td, th {
    text-align: left;
  }
  
  td {
    padding: 10px 20px 0px 0px;
  }
  
  th {
    padding: 0px 20px 10px 0px;
    border-bottom: 1px solid #f5cc6e;
    font-size: 20px;
  }
  tr{
    padding: 0px 20px 12px 0px;
  }
  
  table {
    border-collapse: collapse;
  }

  .rounded1{
    border-radius: 8px 0px 0px 8px;
  }

  .rounded2{
    border-radius: 0px 8px 8px 0px;
  }