{% extends 'base.html' %}
{% block content %}
 {% for manufacturer  in manufacturers %}
    <div>
        <a href = "/manufacturers/{{ manufacturer.id }}"> {{ manufacturer.name }} </a>
        <address> {{ manufacturer.address }} </address>
        <address> {{ manufacturer.phone_number }} </address>
        <ul>
           <li> {{ manufacturer.product_list }} </li>
        </ul>
        <a href="/manufacturers/{{ manufacturer.id }}/edit">Edit Manufacturer</a>
    </div>
    <hr>

 {% endfor %}    
{% endblock %}

