{% extends 'base.html' %}
{% block content %}
<h2>New Manufacturer:</h2>  


<h3>Contact Details:</h3>
<form action="/manufacturers" method="post">
    <div>
        <label for = "name">Name:</label>
        <input name = "name" type = text id = name required>
    </div>
    <div>
        <label for = "address">Address:</label>
        <input name = "address" type = text id = address required>
    </div>
    <div>
        <label for = "phone_number">Phone Number:</label>
        <input name = "phone_number" type = text id = phone_number required>
    </div>
    <div>
        <label for = "product_list">Product:</label>
        <input name = "product_list" type = text id = product_list required>
    </div>
    <br>
    <div>
       <button class ="btn">
           <i class="fas fa-check"> Save</i>
        </button>
    </div>
</form>
{% endblock content %}

