{% extends 'base.html' %}

{% block content %}
    <h3>Manufacturer Details</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Products</th>
        </tr>
        <tr>
            <td>{{ manufacturer.name }}</td>
            <td>{{ manufacturer.address }}</td>
            <td>{{ manufacturer.phone_number }}</td>
            <td>{{ manufacturer.product_list }}</td>
        </tr>
    </table>       
<br>

<form action="/manufacturers/{{ manufacturer.id }}/edit">
    <input type="submit" value="Edit">
</form>

<form action="/manufacturers/{{ manufacturer.id }}/delete" method="POST">
    <input type="submit" value="Delete">
</form>
{% endblock content %}

